version: '3'
services:
  nestjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./src:/usr/src/app/src
      - ./node_modules:/app/node_modules
    command: npm run start:dev
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
  postgres:
    image: postgres:16.2
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
volumes:
  postgres-data:
  redis-data:
